* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(71, 206, 71);
  position: relative;
}
header {
  width: 100%;
  height: 15%;
  background-color: blueviolet;
  position: fixed;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li a {
  margin: 10px;
  margin-top: 40px;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: aliceblue;
  font-size: x-large;
  font-family: courier;
  letter-spacing: 3px;
}

.Game_Space {
  width: 400%;
  height: 70%;
  background-color: cadetblue;
  position: relative;
  top: 15%;
}

.clouds {
  width: 100%;
  height: 35%;
  background-color: cornsilk;
  position: absolute;
  top: 0%;
}

.clouds .s1 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 10%;
}

.clouds .l1 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 20%;
}

.clouds .s2 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
}

.clouds .l2 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 40%;
}
.clouds .s3 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 55%;
}

.clouds .l3 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 60%;
}
.clouds .s4 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 80%;
}

.clouds .l4 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 39%;
  left: 90%;
}

.box_space {
  width: 100%;
  height: 25%;
  background-color: red;
  position: relative;
  top: 40%;
}

.box_space .l1 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 0%;
  left: 12%;
}

.box_space .level1_1 {
  width: auto;
  height: auto;
  visibility: visible;
  position: absolute;
  top: 3%;
  left: 12.7%;
}

.box_space .unlevel1_1 {
  width: auto;
  height: auto;
  visibility: hidden;
  position: absolute;
  top: 3%;
  left: 12.7%;
}

.box_space .level1_2 {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 3%;
  left: 14%;
}

.box_space .unlevel1_2 {
  width: auto;
  height: auto;
  display: block;
  visibility: hidden;
  top: 3%;
  left: 14%;
}

.box_space .s1 {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 20%;
}



.box_space .l2 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 0%;
  left: 35%;
}

.box_space .s2 {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 63%;
}

.box_space .s3 {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 76%;
}

.box_space .l3 {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  top: 0%;
  left: 94%;
}

.ground_space {
  width: 100%;
  height: 35%;
  background-color: cornsilk;
  position: absolute;
  bottom: 0%;
}
.ground_space .p1 {
  width: 100px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 15%;
}
.ground_space .p2 {
  width: 100px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 30%;
}
.ground_space .p3 {
  width: 100px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 65%;
}
.ground_space .p4 {
  width: 100px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 83%;
}

.ground_space .sb1 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 2%;
}

.ground_space .lb1 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 5%;
}

.ground_space .sb2 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 27%;
}

.ground_space .lb2 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 38%;
}

.ground_space .sb3 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 55%;
}

.ground_space .lb3 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 70%;
}

.ground_space .sb4 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 88%;
}

.ground_space .lb4 {
  width: auto;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 92%;
}

.hero {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 10%;
}
.e1 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 75%;
}

.e2 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 22%;
}

.e3 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 50%;
}

.e4 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 90%;
}
.ground {
  width: 100%;
  height: 16%;
  background-color: burlywood;
  background-image: url(img/Ground.GIF);
  position: fixed;
  bottom: 0px;
}
